<mat-toolbar class="horizantal left primaryLightBg  navbar">
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="header">
            <span>Location Adaptor</span>
        </div>
        <div class="tabs" style="display: flex; gap: 1rem; cursor: pointer;">
            <span routerLink="/locations" routerLinkActive="active">Locations</span>
            <span routerLink="/workscopes" routerLinkActive="active">WorkScope</span>
            <span routerLink="/log" routerLinkActive="active">Logs</span>
        </div>
    </div>
   
  </mat-toolbar>